@mixin standart-font-text {
    font-family: 'Montserrat', sans-serif;
}

@mixin standart-font-title {
font-family: 'Lobster', cursive;
}

@mixin standart-font-edu {
font-family: 'Edu NSW ACT Foundation', cursive;
}